.square::before
{
    content: '';
    display: block;
    padding-top: 100%;
    height: 0;
    width: 100%;
    background-color: var(--highlight-color);
}


.fake-cv::before
{
    content: '';
    display: block;
    padding-top: 120%;
    height: 0;
    width: 100%;
    background-color: var(--highlight-color);
}

.hero-texts p:nth-child(2)
{
    transform: translateX(30%);
}

.hero-texts p:nth-child(3)
{
    transform: translateX(10%);
}

.hero-texts p:nth-child(4)
{
    transform: translateX(-15%);
}

.hero-texts p:last-child
{
    transform: translateX(-25%);
}


.about-work-texts-left
{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.about-work-texts-right
{
  display: flex;
  justify-content: space-around;

}

.about-school-texts-left
{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.about-school-texts-right
{
  display: flex;
  justify-content: space-around;

}

.outer-container-cv
{
  background-color: red;
}
